html,
body {
    background-color: #F3F3F3;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered {
    width: 400px;
    /* height: 400px; */
    /* background-color: #3399FF; */
}

h1 {
    color: #d0d0d0;
    text-align: center;
    font-family: sans-serif;
}

pre {
  color: #d0d0d0;
  text-align: center;
  font-size: 1.2em;
}